.primary-heading {
  font-size: var(--fs-7);
}

.secondary-heading {
  font-size: var(--fs-6);
}

.tertiary-heading {
  font-size: var(--fs-5);
}

h2 {
  font-family: medium-font;
  font-size: var(--fs-6);
}

h4 {
  font-size: var(--fs-4);
}
